.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  .d-flex {
    flex-direction: column !important;
  }
}

 .border-danger{
  border-color: #ac0303 !important;
 }


.match-container {
  position: relative;

  .match-number {
    position: absolute;
    right: -8px;
    top: -8px;
  }
}