
  $-primary-color: #8C1D1B;       /* your custom primary */
  $-secondary-color: #CC2925;     /* your custom secondary */
  $-success-color: #E3900E;       /* your custom success */
  $-info-color: #2C3E50;          /* your custom info */
  $-warning-color: #ffc107;
  $-danger-color: #dc3545;
  $-light-color: #f8f9fa;
  $-dark-color: #212529;